<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- Load the Google API  -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/index.css" />
    <!-- <link rel="stylesheet" href="{% static 'index.css' %}" /> -->
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
